

html{
    

background: hsla(122, 35%, 70%, 1);

background: linear-gradient(135deg, hsla(122, 35%, 70%, 1) 0%, hsla(196, 84%, 76%, 1) 51%, hsla(241, 94%, 79%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(122, 35%, 70%, 1) 0%, hsla(196, 84%, 76%, 1) 51%, hsla(241, 94%, 79%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(122, 35%, 70%, 1) 0%, hsla(196, 84%, 76%, 1) 51%, hsla(241, 94%, 79%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#96CD98", endColorstr="#8ED9F5", GradientType=1 );
}

.container{
    display: grid;
    height: 200px;
    
    width: 200px;
    justify-content: center;
}