

html{
    height: 100%;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(106deg, rgba(2,0,36,1) 0%, rgba(79,106,74,1) 46%, rgba(105,122,138,1) 100%);
    background: -webkit-linear-gradient(106deg, rgba(2,0,36,1) 0%, rgba(79,106,74,1) 46%, rgba(105,122,138,1) 100%);
    background: linear-gradient(106deg, rgba(2,0,36,1) 0%, rgba(79,106,74,1) 46%, rgba(105,122,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#697a8a",GradientType=1);
    
}
body{
    justify-content: center;
    text-align: center;

}
.container{
    position: relative;
    right 50%;
    display: grid;
    justify-content: center;
    margin-top: 0px;
    border: 1px black solid;
}
button{
    display: block;
}
.flex{
    display: flex;
    justify-content: center;
} 
header {
  font-size: 115px;
  color: rgb(160, 149, 102);
  font-family: 'Fuggles', cursive;
  text-align: center;
  position: relative;
  justify-content: center;
  padding-bottom: 20px;
 
}
button{
    position: relative;
    margin: 0px auto 0px auto;
    border-color: rgba(0,0,0,0);
    border-radius: 2px;
}
header div{
    display:flex;
    width: 511px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
button:hover{
    transform: scale(1.1);
    background-color: rgb(172, 235, 172);
    border-radius:  5px;
    border-color: rgba(0,0,0,0);
}


