

html{
    height: 100%;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(106deg, rgba(2,0,36,1) 0%, rgba(79,106,74,1) 46%, rgba(105,122,138,1) 100%);
    background: -webkit-linear-gradient(106deg, rgba(2,0,36,1) 0%, rgba(79,106,74,1) 46%, rgba(105,122,138,1) 100%);
    background: linear-gradient(106deg, rgba(2,0,36,1) 0%, rgba(79,106,74,1) 46%, rgba(105,122,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#697a8a",GradientType=1);
    
}
.body{
    justify-content: center;
    text-align: center;
}
.container{
    position: relative;
    right 50%;
    display: grid;
    width: 100%;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}
button{
    display: block;
}
.flex{
    display: flex;
    justify-content: center;
} 
header {
  text-align: center;
  position: relative;
 
}
button{
    position: relative;
    margin: 0px auto 0px auto;
}